# Gradle
.gradle/
build/

# Eclipse
.project
.classpath
.settings/
bin/

# IntelliJ
.idea
*.ipr
*.iml
*.iws

# NetBeans
nb-configuration.xml

# Visual Studio Code
.vscode
.factorypath

# OSX
.DS_Store

# Vim
*.swp
*.swo

# patch
*.orig
*.rej

# Local environment
.env
/src/main/resources/application-confidential.yml
/requests/.aws-sam/
/.aws-sam/
/.kotlin/
/requests/confidential/

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
/.idea/
/.kotlin/
/build-logic/.kotlin/
/tw-app-aws/src/main/resources/application-confidential.yml
/tw-app-aws/requests/confidential/
/tw-app-aws/.aws-sam/

/tw-app-azure/requests/confidential/
