name: timesheet-wizard

services:
  azureit:
    image: mcr.microsoft.com/azure-storage/azurite:3.35.0
    ports:
      - '10000:10000'
      - '10001:10001'
      - '10002:10002'

volumes:
  minio_data:
    driver: local