Thumbs.db
.DS_Store
.gradle
build/
target/
out/
.micronaut/
.idea
*.iml
*.ipr
*.iws
.project
.settings
.classpath
.factorypath
/**/.aws-sam/
/src/main/resources/application-local.yml
/src/main/resources/application-local-to-aws.yml
